body, html {
  width: 100%
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
}

.navbar-brand {
  padding: unset !important;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  color: white;
}

.navbar-default {
  background-color: #27b463;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.jumbotron {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: unset;
}

@media (min-width:768px) {
  .logo-responsive {
    width: calc(100vw - 60%);
  }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

#subtitle {
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  line-height: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  text-transform: uppercase;
}

.aButton:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.sectionTitle {
  font-size: 3em;
}

.sectionTitle h2 {
  font-size: 1em;
  margin-top: 0px;
}

#masternode, .green-jumbo {
  background-color: #27b463;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron h2 {
  text-transform: uppercase;
  text-align: center;
}

.jumbotron h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#subtitle h2 {
  text-transform: inherit;
}

#whyChoose {
  padding-top: 20px;
  padding-bottom: 20px;
}

#joinCommunity {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #5ba6d8;
  color: white;
}

#listCommunity a {
  margin: 50px;
}

#roadmap, .white-jumbo {
  background-color: white;
}

#walletDownload {
  background-color: rgb(91, 166, 216);
  color: white;
}

.chc-getchaincoin-ticker {
  color: black;
}

#subtitle span {
  font-size: 14px;
}

.x-chain {
  background-color: rgba(255,255,255,.16);
  border-radius: 20px;
}

center h3 {
  font-weight: bold;
}

.x-chain p {
  text-align: justify;
  padding: 15px;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: .5em;
}

ul li {
  font-size: 16px;
}

.normal-jumbo, .normal-jumbo p {
  font-size: 16px !important;
}

.rogue-miners {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 20px;
  font-size: 24px;
}

.gray-color {
  color: gray;
}

.contributor {
  background-color: rgba(255,255,255,.26);
  border-radius: 1em;
  padding: 2em;
  margin: 2em;
  width: 27%;
  min-height: 368px;
}

.contributor img {
  width: 208px;
  height: 208px;
}

.contributor a {
  color: white;
}
